body {
    height: 100%;
    background-color: #222222;
}
#card_info{    
    border: 0;
    box-shadow: 0 0 10px 0 rgba(149, 184, 209, .5);
    border-radius: 10px;
    width: 70%;
    height: 1%;
    margin: 1px auto;
    padding: 1%;
    display: flex;    
    background-color: rgb(0, 0, 0);
}
#info{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
}
#photo{
    padding: auto;
    font-size: 1.5rem;
    font-weight: 1000;
    color: black;
    display: flex;
    height: 30px;
}
#name{
    padding: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    display: flex;
    height: 30px;
}
#email{
    padding: auto;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    display: flex;
    height: 30px;
}   
#number{
    padding: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    display: flex;
    height: 30px;
}
#submit_card{    
    padding: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: green;    
    height: 30px;
}
input[type="submit"] {    
    background-color: #008cb1;
    cursor: pointer;
}
input {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #333333;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    outline: 0;    
}
#output{
    border: 0;
    box-shadow: 0 0 10px 0 rgba(149, 184, 209, .5);
    border-radius: 10px;
    width: 70%;
    height: 1%;
    margin: 1px auto;
    padding: 1%;
    display: flex;    
    background-color: rgb(0, 0, 0);
    color: white;
}